body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    color: black;
    transition: background 0.3s, color 0.3s;
}

.container {
    margin-top: 50px;
}

#dark-mode-toggle {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.dark-mode {
    background-color: black;
    color: white;
}.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.slider {
    width: 80%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 300px; /* Adjust as needed */
    margin-right: 10px;
}

button {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}